.l {
    background-image: url('media/bg5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-position: 50% 50%; */
}

.timer {
    padding: 10px;
    color: rgba(230, 221, 221, 0.932);
    /* opacity:0.5; */
    /* color: azure; */
    text-align: center;
    /* border: 2px solid black; */
    /* border-radius: 2px; */
    /* position:fixed; */
    /* bottom: 0; */
    top: 93%;
    position: absolute;
    bottom: 0;
    width: 100%;

}

#time {
    font-weight: bold;
}

#navi {
    background-color: rgba(255, 255, 255, 0.384);
    color: aliceblue;
    /* background-color:rgba(255, 0, 0, 0.863); */
    /* background: transparent; */
    /* opacity:0.1; */
}

.bright {
    color: rgb(230, 221, 221);
}

.change {
    transition: transform .2s;
}

.change:hover {
    /* background-color: aqua; */
    /* color:red; */
    opacity: 0.95;
    transform: scale(1.03);
}

.lighten {
    opacity: 0.7;
}

/* @media only screen and (max-width:420px) {
    .timer {
        display: none;
    }
} */
